html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Lora', serif;
    background-image: url(../img/yoimiya0bg.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 24px;
}

.header {
    width: 100%;
    background-image: url(../img/banner.jpg);
    border-bottom: #B8860E 5px solid;
    position: fixed;
    top: 0;
}

.header > * {
    text-align: center;
    padding: 8px;
    margin: 0;
    font-size: 3rem;
    color: white;
}

.week {
    display: flex;
    flex-flow: row wrap;
    gap: 16px;
}

.Monday, .Tuesday, .Wednesday, .Thursday, .Friday, .Saturday, .Sunday {
    width: 250px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    border-radius: 25px;
    border: #8b4000 5px solid;
}

.CLP, .HISMLS, .HISMLS-L, .CPH, .HISTO, .MTLE, .IQC, .WORLD, .LAB, .SURVIVAL {
    background-color: rgb(255, 255, 255);
    width: 200px;
    padding: 24px;
    display: flex;
    flex-flow: column nowrap;
    margin: 14px;
    border-radius: 30% 10%;
    border: 3px #8b4000 solid;
}

.CLP > *, .HISMLS > *, .HISMLS-L > *, .CPH > *, .HISTO > *, .MTLE > *, .IQC > *, .WORLD > *, .LAB > *, .SURVIVAL > * {
    padding: 4px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day {
    background-color: #8b4000;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 150px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 0.9rem;
    color: #B8860E;
}

.subj {
    font-size: 1.2rem;
    font-weight: bold;
    color: #8b4000;
}

.online {
    color: #c25811;
}

.room {
    color: #662f0a;
}

.onsite {
    color: #ff6600;
}

.footer {
    width: 100%;
    background-image: url(../img/banner.jpg);
    position: fixed;
    bottom: 0;
    border-top: #B8860E 5px solid;
}

.footer > ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.footer > ul > * {
    list-style: none;
    padding: 0 32px;
    color: #ece1d6;
    font-weight: bold;
}